<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contact - Sarthak</title>
    <link rel="stylesheet" href="./static/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="./static/assets/css/noscript.css"
    /></noscript>
  </head>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='images/icon.ico') }}"
  />
  <body class="is-preload">
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <a href="/contact" class="logo">Contact</a>
      </header>

      <!-- Navigation -->
      <nav id="nav">
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li class="active"><a href="contact">Contact</a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <section class="post">
          <header class="major">
            <h1>Hire Me</h1>
            <p>
              Let's collaborate and build something great! Whether it's
              competitive programming, a machine learning model, or system-level
              automation, I'm ready to contribute with passion and precision.
            </p>
          </header>

          <!-- Contact Form -->
          <form method="POST" action="/submit_form">
            <div class="fields">
              <div class="field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required />
              </div>
              <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required />
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea
                  name="message"
                  id="message"
                  rows="3"
                  required
                ></textarea>
              </div>
            </div>
            <ul class="actions">
              <li><input type="submit" value="Send Message" /></li>
            </ul>
          </form>
        </section>

        <!-- Copyright -->
        <div id="copyright">
          <ul>
            <li>&copy; All Rights Reserved</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="./static/assets/js/jquery.min.js"></script>
    <script src="./static/assets/js/jquery.scrollex.min.js"></script>
    <script src="./static/assets/js/jquery.scrolly.min.js"></script>
    <script src="./static/assets/js/browser.min.js"></script>
    <script src="./static/assets/js/breakpoints.min.js"></script>
    <script src="./static/assets/js/util.js"></script>
    <script src="./static/assets/js/main.js"></script>
  </body>
</html>
